.loader_container {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.loader {
    border: 5px solid #9ff9ff;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }